@use '../../lib/service.scss' as s;
main {
    max-width: 960px;
    margin: 0 auto;
   
}
.page__title {
    color:s.color("accent");
    font-size: 24px;
    margin: s.space(4);
    padding: s.space(4);
}

.form {
    
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap:s.space(8);
    margin: s.space(8);
    border: 1px solid s.color("light");


    &__title {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid s.color("light");
        padding-bottom: s.space(1);
        
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap:s.space(6);
    }
    &__field {
        display: flex;
        justify-content: space-between;
        gap: s.space(4);
    }
    &__field-data {
        
        display: flex;
        flex-direction: column;
        gap: s.space(1);
    }
    &__label {
        font-size: 14px;
        padding-right: s.space(2);

    }
    &__input {
        border: 1px solid s.color("light");
        padding: s.space(2);
        
        
    }
    &__textarea {
        display: flex;
        flex-direction: column;
        gap:s.space(1);
    }
    &__description {
    border: 1px solid s.color("light");
    padding: s.space(1);
    
    }
    &__label-light {
     color: s.color("lable");
     font-size: 12px;
      
    }
    &__buttons {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: s.space(2);

    }
    &__button {
        background-color: s.color("accent");
        color: fff;
        border: 1px solid s.color("light");
        padding: s.space(2);
        border-radius: 5px;
        // min-width: 50%;
    }
    &__button-delete{
       background-color: s.color("del");
       display: flex;
       justify-content: center;
       align-items: center;
       
       
    }
    &__button-link{
        margin: 0 auto;
        text-decoration: none;
        color: fff;
        
        
     }
}
main {
    display: flex;
    flex-direction: column;
    gap:s.space(10)
}

.user__list {
li {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
}