<main class='main'>
  <div class='main_content'>
    <h1 class='title title--center'>Створити</h1>
    <ul class='choose'>
      <a href='/spotify-create'>
        <li class='choose_item'>
          <img
            src='/svg/choose_1.svg'
            class='choose_image'
            alt='note'
          />
          <div class='choose_content'>
            <strong class='title'>Плейліст</strong>
            <p class='choose_text'>Створити плейліст з
              піснями чи епізодами</p>
          </div>
        </li>
      </a>
      <a href='/spotify-create?isMix=true'>
        <li class='choose_item'>
          <img
            src='/svg/choose_2.svg'
            class='choose_image'
            alt='note'
          />
          <div class='choose_content'>
            <strong class='title'>Мікс</strong>
            <p class='choose_text'>Комбінуйте смаки в
              спільному плейлісті з друзями</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</main>