<div class='info_tab'>
  {{#if title}}
    <strong class='info__title'>{{title}}</strong>
  {{/if}}
  {{#if value}}
    <p class='info__value'>{{value}}{{#if fin}}
        грн{{/if}}</p>
  {{/if}}
</div>