@use '../../lib/service.scss' as s;
@use'../../component/heading/index.scss' as heading;
@use'../../component/purchase-product/index.scss' as purchaseProduct;
@use'../../component/field/index.scss' as field;
@use'../../component/divider/index.scss' as divider;
@use'../../component/button/index.scss' as button;
@use'../../component/info/index.scss' as info;

main{
    display: flex;
    flex-direction: column;
    gap:s.space(5);
    padding: s.space(5);

 }
.formCard{
    width: 100%;
display: flex;
flex-direction: column;
gap: s.space(5);
border: 1px solid s.color("light");
padding: s.space(5);
border-radius: s.space(3);
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.formCard_field{
display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: s.space(5);
}

.form-card__total{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.link {
text-decoration: none;
}