{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main>
  <h1 class='page__title'>Список товарів</h1>
  <section>
    <div class='product__list'>
      
    {{>product-card}}
         
    </div>
  </section>
</main>