@use '../../lib/service.scss' as s;
@import '../../component/product-card/index.scss';
main {
    max-width: 960px;
    margin: 0 auto;
}
.page__title {
    color:s.color("accent");
    font-size: 24px;
    margin: s.space(4);
    padding: s.space(4);
}
.product__list{
    margin: s.space(4);
    padding: s.space(4);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:s.space(3);
}

   
   
   

  
    
