<main class='main'>
  {{#with data}}
    <div class='main_content'>
      <header class='header'>
        <h1 class='title'>Моя бібліотека</h1>
        <div class='header_icons'>
          <a href='/spotify-search'>
            <img src='/svg/glass.svg' alt='' />
          </a>
          <a href='/spotify-choose'>
            <img src='/svg/cross-forvard.svg' alt='' />
          </a>
        </div>

      </header>

      <ul class='list'>
        {{#each list}}
          <card class='playlist_card'>
            <img
              class='playlist_image'
              src={{img}}
              alt='{{name}} height="200px"'
            />
            <h2 class='title title--small'>{{name}}</h2>
            <p class='playlist-amount'>Кількість пісень:
              {{amount}}
            </p>
          </card>
        {{/each}}
      </ul>
    </div>
  {{/with}}
</main>